<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/css/960.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="/css/text.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>

        <div class="container_12">
            <div class="grid_3 nav">
                <h2><a href="index.html" class="nav">Barrister RPC</a></h2>
                <h4>clean contracts</h4>
            </div>
            <div class="grid_9">
                <ul class="nav">
                    <li><a href="about.html">about</a></li>
                    <li><a href="docs.html">docs</a></li>
                    <li><a href="contribute.html">contribute</a></li>
                    <li><a href="https://groups.google.com/forum/#!forum/barrister-rpc">discuss</a></li>
                    <li><a href="download.html">download</a></li>
                </ul>
            </div>
            <div class="clear"></div>

            <div class="grid_12">
            {{ content }}
            </div>
        </div>

        <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
            var pageTracker = _gat._getTracker("UA-2855697-1");
            pageTracker._trackPageview();
        </script>
    </body>
</html>